@import url(http://fonts.googleapis.com/css?family=Cutive+Mono&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Fresca);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


body{
	

}
		
	#container {	
			background-image: url("pics/sign2.svg");
			background-repeat: no-repeat;
			background-size: 70%;
			background-position: 100px center;
			max-width: 1200px; 
			overflow: auto;
			margin: 0 auto;
			background-color:#F4FACC;
			font-family: 'Cutive Mono', serif;
	}
	#container h2,h2,h3,h4{
		font-family:'Fresca', sans-serif;
		margin-bottom: 20px;
	}
	
	#header {
		background-color:#DEF258 ;
		max-width: 900px;
		margin: 0 auto;
		font-family: 'Cutive Mono', serif;
		text-shadow: 4px 4px 4px #aaa;
		overflow:auto;
		font-size: 35px;
	}
	#header img{
		float:left;
		width: 120px;
	} 
	#header h1{
		float:right;
		margin-top: 60px; margin-right: 60px;

	}
	#nav {
		/*background-color:#F2FABF;*/
		width: 300px;
		float:left;
		margin-left: 150px;
	}
	#nav img{
		float:left;
		margin left:20px;
	}
	/*menyn*/
	#nav ul {
		border: 1px solid #89B12B;
		border-bottom: none;
		width: 240px;
		margin-top : 20px;
		margin-bottom: 20px;
		margin-right: 20px;  
	}
	#nav li {
		list-style: none;
		border-bottom: 1px solid #89B12B;

	}
	#nav li a {
		display: block;
		padding: 10px;
		background-color:#DEF258 ;
		color:#000; 
		text-decoration: none;

	}
	#nav li a:hover {
		background-color: #89B12B; 
	}
	#nav li a.active {
		background-color: #F5EE6D; 
	}
	/*slut meny*/	
	#content{
		width: 600px;
		/*background-color:#F2FABF;*/
		float: left;
		margin-bottom: 30px;
		margin-right: 20px;
	}
	#content h1,h2,h3,h4{
		font-style: bold;
	}
	#content h1{
		font-family: 'Cutive Mono', serif;
		text-shadow: 2px 2px 2px #C7D18C;
		font-size: 35px;
		margin-top: 12px;
		margin-bottom: 20px;
	}	
	#content h2{
		font-size:24px;
		margin-top: 20px;
	}	
	#content h3{
		font-size:20px;
		margin-bottom: 15px;
		margin-top: 15px;
	}	
	#content h4{
		font-size:16px;
	}	
	#content .p1 {
		font-size: 12px;
		padding-top: 10px;
	}
	#content dt{
		font-family:'Fresca', sans-serif;         
		font-weight: bold;
		margin-top: 5px;
	}
	#content a {
		display: block;
		padding:3px;
		margin: 3px;	
		color: #000;
		background-color:#DEF258;
		text-decoration: none;
		width: 200px;
	}
	#content a:hover {
		background-color: #89B12B; 
	}
	#footer {
		max-width: 900px;
		margin: 0 auto;
		clear: both;
		border-top: 2px solid  #89B12B
	}
	#table td {
		border: thin solid; color:#525E36;
		background-color:#EDFA97;
	}
	/* Färger 	container,nav #F4FACC 
				header #DEF258 
				nav,content #F2FABF
				content #F6FCCD
				footer #868F4B
				/*table td #EDFA97 */

	
	#labli ul{
		width: 200px;
	}
	#labli li{
		list-style: none;
	}
	#labli li a{
		display: block;
		padding:3px;
		margin: 3px;	
		color: #000;
		background-color:#DEF258;
		text-decoration: none;
	}	
	#form {
		margin-top: 20px;
	}
	#form h4{
		margin-bottom: 20px;
	}
	#footer{
		width:870px;
		padding:15px;
	}
	.knapp{
	border: 1px solid  #89B12B ; 
	font-size: 20px;
	background-color:#DEF258; 
	font-weight: bold;
	font-family: 'Cutive Mono', serif; 
	margin-top: 20px;
	margin-right: 40px;
	float: right;
	background-image: url(pics/brev.png); 
	background-repeat: no-repeat;
	background-position: top left;
	text-indent: 30px; 

	
	
	}
	#radiobuttons {
		margin-bottom: 20px;
	}
	#checkbox {
		margin-bottom: 20px;
	}
	#textarea {
		margin-bottom: 20px;
	}
	#presentationsbild{
		width: 240px;
	}
	#kontakt{
		margin-top: 20px;
	}
	#blogg h4{
		margin-top: 20px
	}
	#accessoires{
		margin-bottom: 20px;
	}

	.right{
		float:right;
		margin: 15px;
		border:3px solid #748942;
	}
	
	
