/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*Layout*/	
	#container {	
			max-width: 1200px; 
			overflow: auto;
			margin: 0 auto;
			background-color:#F4FACC ;
	}
	#header {
		background-color:#DEF258 ;
		max-width: 900px;
		margin: 0 auto;
	}
	#nav {
		background-color:#A8B360 ;
		width: 240px;
		float:left;
		margin-left: 150px;
	}
	#content{
			width: 600px;
			background-color:#F6FCCD ;
			float: left;
	}	
	#footer {
		max-width: 900px;
		background-color:#868F4B ;
		margin: 0 auto;
		clear: both;
	}
	#table td {
		border: thin solid; color:#525E36;
		background-color:#EDFA97;
	}
	/* Färger 	container #F4FACC 
				header #DEF258 
				nav #A8B360
				content #F6FCCD
				footer #868F4B
				/*table td #EDFA97 */

	/*menyn*/
	#nav ul {
		border: 1px solid #89B12B;
		border-bottom: none;
		width: 200px;
		margin-top : 20px;
		margin-bottom: 20px;
		margin-right: 20px; 
		margin-left: 20px; 
		
	}
	#nav li {
		list-style: none;
		border-bottom: 1px solid #89B12B;

	}
	#nav li a {
		display: block;
		padding: 15px;
		background-color:#DEF258 ;
		color:#000; 
		text-decoration: none;

	}
	#nav li a:hover {
		background-color: #89B12B; 
	}
	#nav li a.active {
	background-color: #F5EE6D; 	
	}