@import url(http://fonts.googleapis.com/css?family=Cutive+Mono&subset=latin,latin-ext);
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/*Layout*/	
	#container {	
			max-width: 1200px; 
			overflow: auto;
			margin: 0 auto;
			background-color:#F4FACC ;
	}
	#header {
		background-color:#DEF258 ;
		max-width: 900px;
		margin: 0 auto;
		font-family: 'Cutive Mono', serif;
		text-shadow: 4px 4px 4px #aaa;
	}
	#header img{
	} 
	#header h1{
		float:right;
		margin-top: 130px;margin-right: 60px;

	}
	#nav {
		background-color:#F2FABF;
		width: 300px;
		float:left;
		margin-left: 150px;
	}
	/*menyn*/
	#nav ul {
		border: 1px solid #89B12B;
		border-bottom: none;
		width: 240px;
		margin-top : 20px;
		margin-bottom: 20px;
		margin-right: 20px;  
	}
	#nav li {
		list-style: none;
		border-bottom: 1px solid #89B12B;

	}
	#nav li a {
		display: block;
		padding: 10px;
		background-color:#DEF258 ;
		color:#000; 
		text-decoration: none;

	}
	#nav li a:hover {
		background-color: #89B12B; 
	}
	#nav li a.active {
		background-color: #F5EE6D; 
	}
	/*slut meny*/	
	#content{
			width: 600px;
			background-color:#F2FABF;
			float: left;
	}	
	#footer {
		max-width: 900px;
		background-color:#DEF258;
		margin: 0 auto;
		clear: both;
	}
	#table {
		padding: 30px;
	}
	#table td {
		border: thin solid; color:#525E36;
		background-color:#EDFA97;
	}
	/* Färger 	container,nav #F4FACC 
				header #DEF258 
				nav,content #F2FABF
				content #F6FCCD
				footer #868F4B
				/*table td #EDFA97 */

	
	#labli ul{
		width: 200px;
		margin-left: 30px;
	}
	#labli li{
		list-style: none;
	}
	#labli li a{
		display: block;
		padding:3px;
		margin: 3px;	
		color: #000;
		background-color:#DEF258;
		text-decoration: none;
	}	
